In [44]:
import pandas as pd
import requests
import sqlite3

In [45]:
import requests

url = 'https://brasilapi.com.br/api/ibge/uf/v1'
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
else:
    print("Falha ao buscar os dados da API")

In [46]:
df = pd.DataFrame(data)
df

,id,sigla,nome,regiao
0,11,RO,Rondônia,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
1,12,AC,Acre,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
2,13,AM,Amazonas,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
3,14,RR,Roraima,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
4,15,PA,Pará,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
5,16,AP,Amapá,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
6,17,TO,Tocantins,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
7,21,MA,Maranhão,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
8,22,PI,Piauí,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
9,23,CE,Ceará,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
10,24,RN,Rio Grande do Norte,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
11,25,PB,Paraíba,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
12,26,PE,Pernambuco,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
13,27,AL,Alagoas,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
14,28,SE,Sergipe,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
15,29,BA,Bahia,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
16,31,MG,Minas Gerais,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
17,32,ES,Espírito Santo,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
18,33,RJ,Rio de Janeiro,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
19,35,SP,São Paulo,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
20,41,PR,Paraná,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
21,42,SC,Santa Catarina,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
22,43,RS,Rio Grande do Sul,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
23,50,MS,Mato Grosso do Sul,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
24,51,MT,Mato Grosso,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
25,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
26,53,DF,Distrito Federal,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"

In [49]:
df = df.rename(columns={'id':'ID', 'sigla': 'Sigla', 'nome': 'Nome', 'regiao': 'Regiao'})
df['Regiao'] = [regiao['nome'] for regiao in df['Regiao']]
df

    ID Sigla                 Nome        Regiao
0   11    RO             Rondônia         Norte
1   12    AC                 Acre         Norte
2   13    AM             Amazonas         Norte
3   14    RR              Roraima         Norte
4   15    PA                 Pará         Norte
5   16    AP                Amapá         Norte
6   17    TO            Tocantins         Norte
7   21    MA             Maranhão      Nordeste
8   22    PI                Piauí      Nordeste
9   23    CE                Ceará      Nordeste
10  24    RN  Rio Grande do Norte      Nordeste
11  25    PB              Paraíba      Nordeste
12  26    PE           Pernambuco      Nordeste
13  27    AL              Alagoas      Nordeste
14  28    SE              Sergipe      Nordeste
15  29    BA                Bahia      Nordeste
16  31    MG         Minas Gerais       Sudeste
17  32    ES       Espírito Santo       Sudeste
18  33    RJ       Rio de Janeiro       Sudeste
19  35    SP            São Paulo       Sudeste
20  41    PR               Paraná           Sul
21  42    SC       Santa Catarina           Sul
22  43    RS    Rio Grande do Sul           Sul
23  50    MS   Mato Grosso do Sul  Centro-Oeste
24  51    MT          Mato Grosso  Centro-Oeste
25  52    GO                Goiás  Centro-Oeste
26  53    DF     Distrito Federal  Centro-Oeste

In [51]:
def salva_bd(df,nome_tabela):
    conn= sqlite3.connect('Estados_do_Brasil.db')
    df.to_sql(nome_tabela,conn,if_exists='replace',index=False)
    conn.close()
    return True