In [27]:
from plyer import notification
from datetime import datetime
import pandas as pd
import requests

In [29]:


def alerta(nivel,base, etapa):
    
    if nivel == 1:
        nivel = 'nivel baixo'
    elif nivel == 2:
        nivel = 'nível médio'
    else:
        nivel = 'nível alto'
    
    data_= datetime.now().strftime('%d/%m/%Y %H:%M:%S.%f')

    notification.notify (
    title = f'ATENÇÃO: Alerta {nivel}',
    message = f'Falha no carregamento da base {base} na etapa {etapa}\n{data_}',
    )

In [30]:
def load_estados():
    url = 'https://brasilapi.com.br/api/ibge/uf/v1'
    req_Estados = requests.get(url)
    if req_Estados.status_code == 200:
        dados_Estados = pd.DataFrame(req_Estados.json())
        return(dados_Estados)
    else:
        alerta('3', 'estados do Brasil', 'carregamento de dados')
        return

In [31]:
df_brasil = load_estados()
df_brasil.head()

   id sigla      nome                                    regiao
0  11    RO  Rondônia  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  12    AC      Acre  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  13    AM  Amazonas  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
3  14    RR   Roraima  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
4  15    PA      Pará  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}

In [32]:
def load_cidades(estado_):
    url = (f'https://brasilapi.com.br/api/ibge/municipios/v1/{estado_}?providers=gov')
    req_cidades = requests.get(url)

    if req_cidades.status_code == 200:
        infos_cidades = pd.DataFrame(req_cidades.json())
        return(infos_cidades)
    else:
        alerta('3', 'cidades do estado {estado_}', 'carregamento de dados')

In [33]:
df_cidades=load_cidades('SP')
df_cidades.head()

               nome codigo_ibge
0        ADAMANTINA     3500105
1            ADOLFO     3500204
2             AGUAÍ     3500303
3    ÁGUAS DA PRATA     3500402
4  ÁGUAS DE LINDÓIA     3500501

In [38]:
def load_DDDs(DDD_):
    url = (f'https://brasilapi.com.br/api/ddd/v1/{DDD_}')
    req_DDD = requests.get(url)

    if req_DDD.status_code == 200:
        infos_DDD = pd.DataFrame(req_DDD.json())
        return(infos_DDD)
        
    else:
        alerta('3', 'informação do DDD {DDD_}', 'carregamento de dados')

In [40]:
df_DDD=load_DDDs('14')
df_DDD.head()

  state     cities
0    SP     IPAUÇU
1    SP  CHAVANTES
2    SP  VERA CRUZ
3    SP        URU
4    SP  UBIRAJARA